:root{
    --main-color: #f9f9f9;
    --text-color: #030303;
    --subText-color: #606060;
}
.row{
    display: flex;
    justify-content: start;
}
.content{
    max-width: 1754px;
    padding: 24px 20px;
    height: 1000px;
    margin: 0 auto;
    width: 100%;
    z-index: -1;
    /* background-color: rgba(2, 2, 2, 0.493); */
    margin-top: 56px;
}
.content-left{
    /* height: 500px; */
    /* background-color: white; */
    width: 76%;
    min-width: 500px;

}
.content-right{
    background-color: rgb(200, 200, 200);
    margin-left: 24px;
    width: 24%;
    min-width: 400px;
    height: 500px;
}

.content-video {
    width: 100%;
    height: 720px;
    position: relative;
    display:block;
}
.content-video .video{
    width: 100%;
    position: relative;
}
.btns_video{
    opacity: 0;
    position: relative;
    margin-top: -50px;
    width: 100%;
    bottom: 0px;
    z-index:0;
    transition: all 0.1s linear;

}
.video:hover ~ .btns_video{
    opacity: 1;
}
.btns_video:hover{
    opacity: 1;
}
.btns_video-line{
    width: 100%;
    height: 10px;
}
.btn_video-line input{
    width: 100%;
}
.btn_video-line input{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #d8d8d8;
    cursor: pointer;
    display: flex;
    height: 4px;
    overflow: hidden;
    outline: none;
}
.btn_video-box input{
    display :none;
    height: 4px;
    outline: none;
    margin-top: -2px;
    width: 50px;
    transform :translateY(-6px)
}
.btn-volume:hover{
    transform :translateY(1px)
}
.btn-volume:hover input{
    display: block !important;
    transform: translate(25px,-15px);
    margin-right: 20px;
}
.btn_hours span{
    color : #fff !important;
    font-size: 14px;
    line-height: 40px;
}
.btn_video-line input::after{
    content : "";
    height: 10px;
    /* background-color:red; */
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.btn_video-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.btn_video-item{
    color: #ebebeb;
    font-size: 22px;
    margin: 5px 7px;
    cursor: pointer;
}
.btn_video-item:hover{
    color: #fff;
}
.btn_video-item-fix{
    font-size: 25px;
    position: relative;
}
.btn_video-item-fix2{
    font-size: 25px;
}
.btn_video-item-fix::before{
    content : "";
    position: absolute;
    width: 8px;
    border-radius: 1px;
    bottom: 11px;
    left: 11px;
    height: 8px;
    background-color: #fff;
    font-size: 25px;
}
.btn_video-list{
    display: flex;
    justify-content: start;
    align-items: center;
}
.btn_video-left li{
    margin-left: -2px;
}
.btn_video-right{
    margin-right: 10px;
}
.btn_video-item2{
    font-size: 34px !important;
    line-height: 1;
}
.bx-pause-fix{
    font-size: 35px !important;
    position: relative;
    opacity: 0;
    transform: translate(10px,-1px);
}
.fix-hour{
    margin: 0 -2px;
}
.bxs-right-arrow-fix{
    position:absolute;
    left: 15px;
    top: 11px;
    opacity: 0;
}
.btn_Action{
    opacity: 1;
}
.currentTimeVideo{
    margin-left: 10px;
}
.bxs-cog,
.bxs-volume-full{
    position:relative;
    z-index: 0;
}
.icon-hd {
    width: 15px;
    height: 10px;
    color:#fff;
    position: absolute;
    background-color: rgb(255, 0, 0);
    font-size: 8px;
    text-align: center;
    padding: 1px;
    top: -1px;
    align-items: center;
    left: 14px;
    line-height: 7px;
}
.btn-volum-off{
    position: absolute;
    display: none;
    width: 4px;
    height: 26px;
    transform: rotate(-40deg);
    z-index: 22;
    background-color: #fff;
    top: -2px;
    font-size: 40px;
    left: 8px;
    transition : all 0.3s ease;
}
.volum-active{
    display:  block !important;
    transition : all 0.3s ease;

}

.btn-volum-off::before{
    content : "";
    width: 2px;
    right: 0;
    background-color: var(--subText-color);
    height: 26px;
    position: absolute;
}
.box-seting{
    display: none;
    position: absolute;
    top: -169px;
    right: -120px;
}
.box-seting-list{
    width:251px;
    padding : 10px 0;
    background-color: #1d1d1d;
    opacity: 0.95;
    
}
.box-seting-item{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    padding: 0 20px;
}
.box-seting-item:hover{
    background-color: #2c2c2c;
}
.box-seting-item_title{
    font-size: 13px !important;
    color: #fff;
}
.box-seting-item_desc{
    font-size: 12px;
}
.box-seting-item_HD{
    position: absolute;
    font-size: 10px !important;
    transform: translate(-14px, -3px);
    color: rgb(255, 0, 0);
}

@media (max-width: 740px) {
    .row{
        flex-wrap: wrap;
    }
    .content-left{
        width: 100%;
    }
    .content-right{
        width: 100%;
        margin: 0;
    }
}
.content_heading{
    font-weight: 400;
    margin-top: 10px;
}
.content_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content_info-social-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.content_info-day,
.content_info-viewer{
    font-size: 14px;
}
.content_info .bxs-circle{
    font-size: 4px;
    color: var(--subText-color);
    transform: translateY(-3px)
}
.content_info-social-item{
    font-size: 24px;
    color: #909090;
    padding: 10px;
}
.content_info-social-item a{
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    align-items: center;
    transform: translateY(-6px);
    color: currentColor;
}
.content_info{
border-bottom :  1px solid rgb(233, 233, 233);
}
.bxs-like{
    position: relative;
    color: currentColor;
}
.btn-line_line{
    position: absolute;
    width:135px;
    bottom: -14px;
    height:2px;
    background-color: currentColor;
}
.btn-line_line:before{
    content: "";
    width: 10px;
    height:3px;
    background-color: #ccc;
    position: absolute;
    right:0;
}
.like-active{
    color:  #065fd4;
}
.modal_blur{
    position: fixed;
    z-index: 1;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.555);
}
.share-box{
    width: 520px;
    height: 330px;
    position: absolute;
    display: none;
    background-color: #fff;
    top: 20%;
    left:45%;
    padding: 15px 25px 25px 25px;
    z-index: 9999;
    font-family: "Roboto",sans-serif;
}
.share-box_header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.share-box_header-title{
    font-size: 16px;
    color: var(--text-color);
    font-weight: 400;
}
.share-box_header-close{
    font-size: 30px;
    cursor: pointer;

}
.share-box-footer,
.share-box-copy,
.share-box_list{
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.share-box-icon{
    width: 60px;
    height: 60px;
    border-radius:50%;
    margin: 10px;
    background-color: darkcyan;
    align-items: center;
}
.share-box-icon > i{
    transform: translateY(25%);
    font-size: 40px;
    color: #fff;
}
.share-box-item{
    margin-bottom: 20px;
    cursor: pointer;
}

.code{
    background-color: #909090;
}
.facebook{
    background-color: #3b5998;
}
.whatsapp{
    background-color: #25d366;
}
.twitter{
    background-color: #1da1f2;
}
.mail{
    background-color: #cf3b3b;
}
.github{
    background-color: rgb(36, 45, 82)
}

.share-box-copy{
    margin-top:  40px;
    padding : 10px 20px;
    background-color: #f9f9f9;
    justify-content: space-between;
    border: 1px solid rgb(233, 233, 233);
    margin-bottom: 25px;
}
.share-box-copy-content{
    font-size: 14px;
    color: var(--text-color);
}
.share-box-copy-action{
    font-size: 14px;
    font-weight: 500;
    color: #065fd4;
}
.share-box-footer{
    border-top: 1px solid rgb(233, 233, 233);
    margin-top: 25px;
    padding: 20px 0;
}
.share-box-footer input{
    padding-left: 10px;
    height: 20px;
    width: 20px;
    margin-left: 15px;
    transform:translateX(-15px);
}
.share-box-footer p{
    margin-right: 10px;
    
}
.save-box{
    display:none;
    position: absolute;
    z-index: 2;
    width: 250px;
    padding : 15px;
    background-color: #fff;
    top: 20%;
    left: 60%;
}
.save-box-header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:space-between;
    border-bottom: 1px solid rgb(233, 233, 233);

}
.modal_box-title{
    font-size: 16px;
    margin-bottom: 20px;
}
.save-box-header i{
    font-size: 30px;
    color: var(--subText-color);
    transform: translateY(-6px)
}
.save-box-list{
    padding: 15px 15px 0 15px;
    border-bottom:  1px solid rgb(233, 233, 233);
}
.save-box-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.save-box-item2{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0;
}
.save-box-item2 input{
    width: 20px;
    height:20px;
    margin-left: 15px;
    transform: translateX(-15px);
}
.save-box-item i{
    font-size: 20px;
    color: #909090;
}
.save-box-footer{
    padding: 15px;
    display:none;
}
.save-box-footer-item{
    margin-bottom: 10px;
}
.save-box-footer-item label{
    font-size: 12px;
    color: var(--subText-color);
}
.coclassrieng{
    float: right;
}
.save-box-footer-item input{
    border: none;
    border-bottom: 1px solid var(--text-color);
}
.save-box-footer-item option p,
.save-box-footer-item input::placeholder{
    font-size: 14px;
    color: var(--subText-color);
    font-weight: 400;
}
.save-box-footer-item select{
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--text-color);
}
.save-box-footer-item h4{
    float: right;
    margin-top:10px;
    font-weight: 500;
    font-size: 14px;
    color:#065fd4;
}
.btn-listnew{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 40px;
    padding: 5px 10px 0 5px;
    cursor: pointer;
}
.btn-listnew i{
    font-size: 30px;
    color: #909090;
    padding: 0 10px 0 5px;
}
.content_info-social-item{
    position: relative;
}
.box-report{
    display: none;
    top: 40px;
    z-index: 2;
    position: absolute;
    width: 195px;
    padding: 5px 0;
    background-color: #fff;
    border-radius: 5px;
}
.box-report-item{
    height:40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: start;
}
.box-report-item:hover{
    background-color: #e7e7e7;
}
.box-report-item i{
    font-size: 24px;
    color: #909090;
    padding: 0 15px;
}






/* btn-play center video */
/* 
.play_center{
    width: 100%;
    height: 100%;
    position: absolute;
}
.play_center:after{
    content : "";
    position: absolute;
    width: 70px;
    height: 70px;
    top:20px;
    left: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.76);
    opacity: 0;
    transition: all 2s;
    z-index: 4;
    border : 4px solid rgb(83, 83, 83);
}
.play_center:active::before{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
    z-index:9999999;
  }

.play_center:active::after{
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
  z-index:9999999;
}

.play_center-active:before {
    content: "";
    position: absolute;
} */