:root{
    --main-color: #f9f9f9;
    --text-color: #030303;
    --subText-color: #606060;
}

.content-info-avt{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    display: block;

}
.content-info{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-info-channel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-info-channel_list p{
    font-size: 12px;
    color: var(--subText-color);
}
.content-info-channel_list i{
    color: #606060;
}
.comments_btn-cancel,
.comments_btn-cmt,
.btn-channel{
    background-color: #ececec;
    /* width: 94px; */
    padding: 0 15px;
    height: 38px;
    border: none;
    color: var(--subText-color);
    font-weight: 500;
    font-size: 14px;
    font-family: "Roboto",sans-serif;
}
.btn-channel-box{
    display: flex;
    align-items: center;
}
.icon-bell i{
    font-size: 24px;
    padding: 10px;
    color: #909090;
}
.icon-bell{
    display: none;
}
.btn-channel-active{
    background-color: #cc0000 !important;
    color: #fff !important;
}
.tag_link {
    color: #065fd4;
    font-weight: 400;
}
.content-desc{
    margin-top:15px;
    margin-left: 63px;
    height: 60px;
    overflow: hidden;
}
.content-desc-text{
    line-height: 20px;
}
.content-desc-more{
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    color: var(--subText-color);
    margin-bottom: 10px;
    margin-left: 63px;
    background-color: #f9f9f9;
}
.content-desc-text{
    max-width: 80%;
}
.content-desc-copyright{
    padding: 10px 0;
    border-top: 1px solid rgb(233, 233, 233);
    max-width:80%;
}
.content-desc-copyright p{
    color: var(--text-color);
    font-weight: 500;
    line-height:30px;
}
.content-copyright-content{
    display: flex;
    justify-content: start;
    align-items: center;
}
.content-copyright-content span{
    font-size: 14px;
    font-weight: 400;
    width: 110px;
}
.content-info2{
    border-bottom: 1px solid rgb(233, 233, 233);
}
.desc_more{
    height:auto !important;
}
.comments-user-avt{
    width: 40px;
    height: 40px;
    border-radius:50% ;
    margin-right: 10px;
}
.comments-header{
    padding: 10px;
}
.comments-header_num{
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    width: 120px;
}
.comments-header_sort{
    font-size: 14px;
    color: var(--subText-color);
    font-weight: 500;
}
.comments-header_sort i{
    font-size: 24px;
    transform: translateY(6px);
    padding: 10px;
    color: #909090;
}
.comments-user{
    display: flex;
    justify-content: start;
    /* align-items: center; */
    margin-bottom: 30px;
    position: relative;
}
.comments-user input{
    border: none;
    width: 100%;
    border-bottom: 1px solid rgb(233, 233, 233);
    padding: 5px;
    background-color: #f9f9f9;
    transition: all .2s ease-in-out;
}
.comments-user input:focus{
    outline: none;
    border-bottom: 2px solid var(--subText-color);
}
/* .comments-user input:focus ~ .comments-user-btn{
    display: block;
} */
.comments-user-input{
    width: 100%;
    position: relative;
    margin-left: 5px;
}
.comments-user-btn{
    display: none;
    position: absolute;
    right:0;
    top:36px;
}
.color_main{
    background-color: #f9f9f9;
    color: var(--subText-color);
}
.cmt_active{
    color: #fff !important;
    background-color: #065fd4;
}
.comments-user_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comments-user_text_text2{
    max-width: 95%;
}
.comments-user_text_icon{
    font-size: 24px;
    color: #909090;
}
.comments-name{
    margin-bottom: 10px;
    margin-right: 7px;
}
.comments-action{
    display: flex;
    justify-content: start;
    align-items: center;
}
.comments-user_text_icon{
    display: none;
    position: absolute;
    right: 0;
}
.comments-user:hover .comments-user_text_icon{
    display: block !important;
}
.comments-user_text_icon:hover{
    color: var(--subText-color);
}
.bxs-flag-alt{
    position: relative;
}
.comments-report{
    display:none;
    top: 60px;
    right: -96px;
    position: absolute;
    background-color: #fff;
    width: 130px;
    padding: 8px 0;
    border-radius: 5px;
}
.comments-report li{
    display: flex;
    align-items: center;
    text-align: center;
    height: 40px;
}
.comments-report li i{
    font-size: 24px;
    color: #909090;

    padding: 15px;
}
.comments-report li:hover{
    background-color:rgb(233, 233, 233)
}
.comments-action-item{
    margin: 15px 5px 5px 0;
    text-align: center;
    color: #999898;
}
.comments-action-item:hover{
    color:var(--subText-color);
}
.comments-action-item2{
    margin-left: 15px;
}
.comments-action-item p{
    font-size: 12px;
}
.comments_rep{
    font-weight: 500;
}

.comments-user_rep{
    width: 100%;
}
.comments-user-avt3{
    width: 25px;
    height: 25px;
}
.comments-user-input2 input::placeholder{
    font-size: 14px;
}
.comments_btn_more{
    font-weight: 500;
}
.comments_btn_more i{
    font-size: 10px;
    margin-right: 10px;
}
.comments-user_rep2{
    margin: 10px 0;
}
.comments_box-list{
    display: none;
}
.comments_rep_box-fix{
    display: none;
}
.video_item{
    display: flex;
    justify-content: start;
    margin-bottom: 10px;

}
.video_item img{
    max-width: 168px;
    width: 100%;
    display: block;
}
.video_item-photo {
    overflow: hidden;
    width: 168px;
    height: 94px;
    margin-right: 8px;
}
.video_item-info-title{
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}
.video_item-info-viewer i{
    font-size: 3px;
    transform: translateY(-3px);
}
.video_item-info-tag{
    width: 30px;
    height: 18px;
    background-color: #ececec;
    text-align: center;
    border-radius:3px;
    padding: 2px;
    font-size: 12px;
}
.content-info2{
    position: relative;
}
